/* Rotis II Sans - Reused for all font weights */

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}

@font-face {
  font-family: 'WMF Rotis';
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  src: url('https://www.wmf.com/static/version1744114919/frontend/wmf/hyva/de_DE/fonts/rotis-ii-sans-w01.woff') format('woff');
  unicode-range: U+0000-00FF, U+0300-036F, U+1E00-1EFF;
}
